* {
    margin: 0;
    padding: 0;
    box-sizing:border-box
}

body, html{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: #fdfefe;
}

#lottie{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fdfefe;
    z-index: 9999;
}

/*TOP BAR*/
.header__navigation{
    /*position: fixed;*/
    width: 100%;
    background-color: #222222;
    z-index: 9998;
    margin-bottom: 35px;
}

/*LOGO*/
.header__logo{
    text-align: center;
}
.header__logo__link__picture{
    width: 95px;
    height: 75px;
    margin: 5px 0 5px 0;
}

/*NAVIGATION*/
.header__main__navigation{

}

.header__navigation__list{
    padding: 4px 0;
    text-align: center;
    margin-top: 10px;
}

.header__navigation__item{
    display: inline-block;
}

.header__navigation__link{
    color: #fdfefe;
    text-decoration: none;
    text-transform: uppercase;
}

.header__navigation__list:hover{
    color: #b22222;
    background-color: #0b3d91;
}


.container{
    display: block;
    width: 100%;
    margin: 0 auto 35px auto;
    visibility: hidden;
}

.container.is-visible{
    visibility: visible;
}

.video__container{
    display: block;
    max-width: 100%;
    visibility: hidden;
    margin: 0 auto;
}

iframe{
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.video__container.is-visible{
    visibility: visible;
}

.shadow-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadow-1:hover {
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#apod__img__id{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.buttons{
    margin: 0 auto 5px;
    text-align: center;
}

.buttons button{
    height: 44px;
    margin: 10px 0;
    padding: 0 60px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    color: #fdfefe;
    background-color: #b22222;
    display: inline-block;
}

.buttons button:hover{
    background-color: #0b3d91;
    cursor: pointer;
}

#next{
    margin-left: 10px;
    display: none;
}

.nightmode{
    margin: 0 15px;
}

#nightMode{
    color: #222222;
}
.slideThree {
    width: 80px;
    height: 26px;
    background: #333;
    margin: 5px 0 10px 0;
    position: relative;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideThree:after {
     content: 'OFF';
     color: #000;
     position: absolute;
     right: 10px;
     z-index: 0;
     font: 12px/26px Arial, sans-serif;
     font-weight: bold;
     text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}
.slideThree:before {
     content: 'ON';
     color: #fdfefe;
     position: absolute;
     left: 10px;
     z-index: 0;
     font: 12px/26px Arial, sans-serif;
     font-weight: bold;
 }
.slideThree label {
    display: block;
    width: 34px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}
.slideThree input[type=checkbox] {
    visibility: hidden;
}
.slideThree input[type=checkbox]:checked + label {
     left: 43px;
}

/* end .slideThree */

#apod__title__mainpage, .title{
    margin-bottom: 10px;
    color: #222222;
    text-align: center;
}

.title{
    font-size: 2rem;
}

#apod__title__mainpage{
    font-size: 1.3rem;
}

#apod__date{
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 5px;
    color: #222222;
}

#main{
    margin-bottom: 40px;
}

.cd-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(34,34,34,0.90);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.cd-popup.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.is-visible .cd-popup-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.cd-popup-container {
    position: relative;
    line-height: 23px;
    max-width: 90%;
    margin: 4em auto;
    padding: 30px 30px 0 30px;
    background: #FFF;
    border-radius: .25em .25em .4em .4em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#apod__title{
    font-size: 1.5rem;
    color: #0b3d91;
    margin-bottom: 15px;
}

#apod__explaination{
    margin-bottom: 20px;
}
.cd-popup-close{
    width: calc(100% + 60px);
    background-color: #b22222;
    margin-left: -30px;
    height: 33px;
    border-radius: 0 0 .4em .4em;
    text-decoration: none;
    color: #fdfefe;
    vertical-align: middle;
}


#contact{
    width: 100%;
    background-color: #b22222;
    color: #fdfefe;
}

#contact .title{
    color: #fdfefe;
    padding-top: 20px;
}

.content{
    width: 100%;
}

.name, .email, .subject, .message, .sendbutton{
    padding: 0 15px;
}

.name label, .email label, .subject label, .message label{
    display: block;
    margin-bottom: 10px;
}

.name input[type="text"], .email input[type="text"], .subject input[type="text"], .message textarea{
    width: 100%;
    background-color: #fcfcfc;
    padding: 0 20px;
    border: 1px solid #e1e1e1;
    outline: 0;
    color: #8c9597;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.message textarea{
    height: 217px;
    padding: 10px 20px;
    margin-bottom: 20px;
    resize: none;
}

.sendbutton input[type="submit"]{
    height: 44px;
    margin: 40px 0;
    padding: 0 60px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    color: #b22222;
    background-color: #fdfefe;
    margin-left: calc(100% - 152.59px);
}

.sendbutton input[type="submit"]:hover{
    background-color: #0b3d91;
    color: #fdfefe;
    cursor: pointer;
}

#footer{
    width: 100%;
    color: #fdfefe;
    line-height: 25px;
    background-color: #222222;
    padding: 20px;
    text-align: center;
}


@media screen and (min-width: 400px){
    .header__logo,
    .header__main__navigation{
        display: inline-block;
        vertical-align: middle;
    }

    .header__logo{
        text-align: left;
        width: calc(20% - 35px);
        margin: 5px 0 5px 35px;
    }

    .header__main__navigation{
        width: 25%;
        height: 99px;
        margin-left: calc(80% - 140px - 133px);
    }

    .header__navigation__list{
        margin: 0;
        padding: 40px 0;
    }

    .container{
        display: block;
        width: 80%;
        margin: 0 auto 35px auto;
    }

    .cd-popup-container {
        position: relative;
        line-height: 23px;
        max-width: 80%;
        margin: 4em auto;
        padding: 30px 30px 0 30px;
        background: #FFF;
        border-radius: .25em .25em .4em .4em;
        text-align: center;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        -webkit-transform: translateY(-40px);
        -moz-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        -o-transform: translateY(-40px);
        transform: translateY(-40px);
        /* Force Hardware Acceleration in WebKit */
        -webkit-backface-visibility: hidden;
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }

    .video__container{
        display: block;
        max-width: 80%;
        visibility: hidden;
        margin: 0 auto;
    }

    .content{
        width: 80%;
        margin: 0 auto;
    }

    .name , .email, .subject{
        width: 70%;
        display: inline-block;
    }
}

@media screen and (min-width: 1000px) {
    .container{
        display: block;
        width: 60%;
        margin: 0 auto 35px auto;
    }

    .cd-popup-container {
        position: relative;
        line-height: 23px;
        max-width: 50%;
        margin: 4em auto;
        padding: 30px 30px 0 30px;
        background: #FFF;
        border-radius: .25em .25em .4em .4em;
        text-align: center;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        -webkit-transform: translateY(-40px);
        -moz-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        -o-transform: translateY(-40px);
        transform: translateY(-40px);
        /* Force Hardware Acceleration in WebKit */
        -webkit-backface-visibility: hidden;
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }

    .content{
        width: 70%;
        margin: 0 auto;
    }

    .name , .email, .subject{
        width: 33%;
        display: inline-block;
    }

    .header__main__navigation{
        width: 10%;
    }


}
